# Ookla

## Exploratory Data Analysis

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\u189197\appdata\roaming\python\python39\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime, timedelta
import psycopg2 
from pandas import DataFrame as df

### Connection and Baseline

In [3]:
def get_db_connection(query, columns):

    try:
        # Connect to an existing database
        connection = psycopg2.connect(user="user",
                                      password="password",
                                      host="host",
                                      port="port",
                                      database="database")

        # Create a cursor to perform database operations
        cur = connection.cursor()

        # Executing a SQL query
        cur.execute(query)
        
        # Fetch result
        row = cur.fetchone()
        
        count=0
        while row is not None:
            row = cur.fetchone()
            if row is None:
                break
            record.append(row)
            count +=1
        result = df(record, columns=columns)      
        print('Success!')
        
    except (Exception) as error:
        print("Error while connecting to PostgreSQL", error)
    finally:
        if (connection):
            cur.close()
            connection.close()
            print("PostgreSQL connection is closed")

### Análisis Features

#### Datasets

"SELECT COUNT(*) FROM android_bg_v2;" ### 95 Millones

"SELECT COUNT(*) FROM view_android_bg_v2_claro;" ### 11 Millones

"SELECT COUNT(*) FROM view_android_bg_v2_movistar;" ### 10 Millones

"SELECT COUNT(*) FROM view_android_bg_v2_personal;" ### 15 Millones

#### Network_operator_name

In [4]:
query=''
result =pd.DataFrame()
record=[]
columns =['Network_operator_name', 'Ocurrencias'] 
query_1 = "SELECT DISTINCT(network_operator_name), COUNT(report_id) AS Ocurrencias FROM android_bg_v2 GROUP BY Network_operator_name Order by Ocurrencias desc;"
conn = get_db_connection(query_1, columns)

Success!
PostgreSQL connection is closed

In [5]:
query_1_response = pd.DataFrame(record, columns=['Network_operator_name', 'Ocurrencias'])
print(query_1_response)

    Network_operator_name  Ocurrencias
0                Personal     15384345
1                   Claro     11512892
2                Movistar     10525520
3                  Tuenti         4116
4                    Vivo         4028
..                    ...          ...
128               Telstra            1
129                 touch            1
130            TrueMove H            1
131                  Ucom            1
132              Viva-MTS            1

[133 rows x 2 columns]

#### Provinces

In [6]:
query=''
result =pd.DataFrame()
record=[]
columns =['Provincia', 'Ocurrencias'] 
query_2 = "SELECT DISTINCT(region), COUNT(report_id) AS Ocurrencias FROM android_bg_v2 GROUP BY region Order by Ocurrencias desc;"
conn = get_db_connection(query_2, columns)

Success!
PostgreSQL connection is closed

In [7]:
query_2_response = pd.DataFrame(record, columns=['Provincia', 'Ocurrencias'])
print(query_2_response)

                          Provincia  Ocurrencias
0   Autonomous City of Buenos Aires      9283456
1                           Cordoba      8233845
2                  Mendoza Province      5952538
3                 Santa Fe Province      5800875
4                           Tucumán      2903214
5                        Entre Rios      2025613
6                 Misiones Province      2004972
7                    Salta Province      1870986
8                 San Juan Province      1716653
9                              None      1633440
10                   Chaco Province      1614253
11                          Neuquen      1490664
12                San Luis Province      1489964
13                        Río Negro      1355504
14              Corrientes Province      1338710
15                  Chubut Province      1303221
16                            Jujuy      1162116
17              Santa Cruz Province       914110
18     Santiago del Estero Province       907055
19               Catamarca Province       552042
20                 Formosa Province       495823
21                La Pampa Province       493939
22                La Rioja Province       473872
23        Tierra del Fuego Province       286138
24                Potosi Department           57

### Occurrences per province

In [8]:
query=''
result =pd.DataFrame()
record=[]
columns =['Earfcn','Ocurrencias', 'network_operator_name','Provincia' ] 
query_3 = "SELECT DISTINCT(earfcn), COUNT(report_id),network_operator_name, region FROM android_bg_v2 WHERE (earfcn is not null AND cell_bandwidths is not null) GROUP BY earfcn,network_operator_name, region;"
conn = get_db_connection(query_3, columns)

Success!
PostgreSQL connection is closed

In [9]:
query_3_response = pd.DataFrame(record, columns=['Earfcn','Ocurrencias', 'network_operator_name','Provincia'])
query_3_response = query_3_response[query_3_response.network_operator_name.eq('Claro')] 
query_3_response = query_3_response[query_3_response.Provincia.eq('Autonomous City of Buenos Aires')]
print(query_3_response)

    Earfcn  Ocurrencias network_operator_name                        Provincia
95     800        86702                 Claro  Autonomous City of Buenos Aires
118    850           34                 Claro  Autonomous City of Buenos Aires
167    950            1                 Claro  Autonomous City of Buenos Aires
225   1100            2                 Claro  Autonomous City of Buenos Aires
413   2100       109201                 Claro  Autonomous City of Buenos Aires
634   2975        14972                 Claro  Autonomous City of Buenos Aires
742   9260            7                 Claro  Autonomous City of Buenos Aires
813   9360            4                 Claro  Autonomous City of Buenos Aires
955   9485        50081                 Claro  Autonomous City of Buenos Aires
966   9510            8                 Claro  Autonomous City of Buenos Aires

#### Occurrences per province (part_2)

#### Earfcn per operator: